<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Appenders>
<!--
        <Console objectName="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level [%t] %c{1} - %msg%n"/>
        </Console>
-->

        <RollingFile
                name="File"
                fileName="webapps/logs/dropbox_lite.log"
                filePattern="webapps/logs/dropbox_lite-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="INFO">
<!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>